<h1>About</h1>
<p>Find me in app/views/pages/Home.html.erb</p>
<ul>
  <li><%= link_to 'about', about_path, class: 'animsition-link' %><li>
  <li><%= link_to 'contact', contact_path, class: 'animsition-link' %><li>
  <li><%= link_to 'things', things_path, class: 'animsition-link' %><li>

</ul>
