<h1>Pages#Home</h1>
<p>Find me in app/views/pages/Home.html.erb</p>
<ul>
  <li><%= link_to 'about', spektakle_path %><li>
  <li><%= link_to 'contact', kontakt_path %><li>
  <li><%= link_to 'things', things_path %><li>

</ul>
