

<div class="menu">
    <div class="dropup " style="position:relative">
    	<button class="btn btn-primary btn-circle btn-xl dropdown-toggle" data-toggle="dropdown">MENU <span class="caret"></span></button>
    	<ul class="dropdown-menu">
    		<li>
    			<a class=" btn btn-default btn-circle btn-xl animsition-link trigger right-caret">SPEKTAKLE</a>
    			<ul class="dropdown-menu sub-menu">

    				<li><a class=" btn btn-default btn-circle btn-xl animsition-link" href="#">BOBOBU</a></li>
    				<li><a class=" btn btn-default btn-circle btn-xl animsition-link" href="#">NANO KA</a></li>
    				<li><a class=" btn btn-default btn-circle btn-xl animsition-link" href="#">FIU FIU</a></li>
    			</ul>
    		</li>

        <li>
    			<a class=" btn btn-default btn-circle btn-xl animsition-link trigger right-caret">WARSZTATY</a>
    			<ul class="dropdown-menu sub-menu">
    				<li><a class=" btn btn-default btn-circle btn-xl animsition-link" href="#">WIDZI MISIE</a></li>
    				<li><a class=" btn btn-default btn-circle btn-xl animsition-link" href="#">BAWI MISIE</a></li>
    				<li><a class=" btn btn-default btn-circle btn-xl animsition-link" href="#">MU MISIE</a></li>
    			</ul>
    		</li>

    		<li><a class=" btn btn-default btn-circle btn-xl animsition-link" href="#">OSOBY</a></li>
    		<li><a class=" btn btn-default btn-circle btn-xl animsition-link" href="#">KONTAKT</a></li>
    		<li><a class=" btn btn-default btn-circle btn-xl animsition-link" href="#">O NAS</a></li>
    	</ul>
    </div>
</div> <!-- koniec menu -->
