<ul class="nav navbar-nav navbar-fixed-bottom ">

  <li class="dropdown">
    <a href="#" class="dropdown-toggle btn-xl btn-circle btn-danger" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MENU <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">spektakle<span class="caret"></span></a></li>

        <ul class="dropdown-submenu">
            <li>BOBO BU</li>
            <li>NANO KA</li>
            <li>FIU FIU</li>
            <li>MAŁPA</li>
        </ul>
      <li role="separator" class="divider"></li>
      <li class="wiecej"><a href="#">WARSZTATY</a></li>
      <li role="separator" class="divider"></li>
      <li class="wiecej"><a href="#">SPECJALNE</a></li>
      <li role="separator" class="divider"></li>
      <li class="wiecej"><a href="#">OSOBY</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">KONTAKT</a></li>
    </ul>
  </li>
</ul>
