

<div class="menu">
    <div class="dropup " style="position:relative">
    	<button class="btn btn-primary btn-circle btn-xl dropdown-toggle" data-toggle="dropdown">MENU <span class="caret"></span></button>
    	<ul class="dropdown-menu">
    		<li>
    			<a class=" btn btn-default btn-circle btn-xl animsition-link trigger right-caret">SPEKTAKLE</a>
    			<ul class="dropdown-menu sub-menu">
    <% $spektakle.each do |thing| %>
    <li><%= link_to image_tag(thing.foto.url(:kolo), class: 'img-circle'), thing_path(thing), class: ' animsition-link'%></li>
          <% end %>
  	</ul>
    		</li>

        <li>
          <a class=" btn btn-default btn-circle btn-xl animsition-link trigger right-caret">WARSZTATY</a>
          <ul class="dropdown-menu sub-menu">
    <% $warsztaty.each do |thing| %>
        <li><%= link_to image_tag(thing.foto.url(:kolo), class: 'img-circle'), thing_path(thing), class: 'animsition-link'%></li>
    <% end %>
    </ul>
        </li>

        <li>
          <a class=" btn btn-default btn-circle btn-xl animsition-link trigger right-caret">SPECJALNE</a>
          <ul class="dropdown-menu sub-menu">
    <% $specjalne.each do |thing| %>
    <li><%= link_to image_tag(thing.foto.url(:kolo), class: 'img-circle'), thing_path(thing), class: ' animsition-link'%></li>
    <% end %>
    </ul>
        </li>

        <li><%= link_to 'O NAS', onas_path, class: 'btn btn-default btn-circle btn-xl animsition-link'%></li>



    	</ul>
    </div>
</div> <!-- koniec menu -->
